[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]

[requires]
python_version = "3.5"

[packages]
numpy = "*"
matplotlib = "*"
pandas = "*"
jupyter = "*"
ipykernel = "*"
sklearn = "*"
ndjson = "*"
opencv-python = "*"
keras = "*"
prompt-toolkit = "==2.0.1"
ipython = "==6.5.0"
tensorflow = "*"
jupyter-contrib-nbextensions = "*"
